.weapon-section {
    margin: 4rem 0;
    max-width: 28.75rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    display: none;
}

.weapon-section > p {
    font-size: 1.15rem;
    border: 2px solid black;
    border-radius: 7px;
    padding: 0.6rem;
    background-color: rgb(213, 146, 73);
    font-weight: 600;
}

.weapon-section > p:hover {
    cursor: pointer;
    background-color: rgb(223, 128, 25);
}

.weapon-type.chosen-weapon {
    background-color: rgb(32, 31, 31);
    color: #f4e5e5;
}

.weapon-type.chosen-weapon:hover {
    background-color: rgb(27, 26, 26);
}
