.panel {
    border: 3px solid black;
    border-radius: 11px;
    background-color: #ddbc9b;
    box-shadow: 0 4px 6px #333;
    padding: 1.8rem 0;
    font-size: 1.3rem;
    min-width: 30vw;
}

.panel-header {
    display: flex;
    gap: 10px;
}

.panel-header > div {
    max-width: 10vw;
}

h2 {
    margin-bottom: 1rem;
    font-weight: 500;
    align-self: center;
}

.panel > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}

.panel > ul li {
    margin: 2rem 0;
}

.panel:hover {
    cursor: pointer;
}

.panel-btn:hover {
    box-shadow: 0 0 0 2.5px #333;
    background-color: rgb(223, 128, 25);
}
